{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    {% block header %}
    <header>
        <a href="/">
            <img src="{% static 'img/logo.png'%}" alt="logo" class="small-logo">
        </a>
        <div class="head">
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about">О компании</a></li>
                    <li><a href="/reviews">Отзывы</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="#"> {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="/registration">Авторизация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% endblock header %}
    {% block content %} {% endblock content %}
</body>
</html>
