{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты поиска поездов</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    <center>
        <h1>Результаты поиска поездов</h1>
            <p>Выберите дату поездки нажав на кнопку.</p>
            <form method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                <button type="submit" class="custom-btn btn-3">
                    <span>Главная</span>
                </button>
                </form> 
        </div>
    </center>
    {% endblock content %}
</body>
</html>
