{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали билета</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    <center>
        <h1>Детали билета</h1>
        <div class="ticket-details">
            {% if train %}
                <h2>Поезд №{{ train.number }}</h2>
                <p>Маршрут: {{ train.route }}</p>
                <p>Станции: {{ stations }}</p>
                <p>Уровень обслуживания: {{ train.service_level }}</p>
                <h3>Информация о вагонах:</h3>
                    {% for wagon in wagon_info %}
                        <p>Вагон №: {{ wagon.id }}</p>
                        <p>Тип вагона: {{ wagon.type }}</p>
                        <p>Количество мест: {{ wagon.seats }}</p>
                        <p>Стоимость билета: {{ wagon.ticket_price }}₸
                        </p><br>
                    {% endfor %}
                <form action="{% url 'select_wagon' %}" method="post">
                    <select class="text-field__input" id="wagon" name="wagon">
                        <option value="" selected disabled hidden>Нажмите чтобы выбрать вагон</option>
                        {% for wagon in wagon_info %}
                            <option value="{{ wagon.id }}"> {{ wagon.id }} {{ wagon.type }}</option>
                        {% endfor %}
                    </select>
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="custom-btn btn-3">
                        <span>Выбрать место</span>
                    </button>
                </form>
                <br><br>
            {% else %}
                <p>Данные о поезде отсутствуют.</p>
            {% endif %}
        </div>
    </center>
    {% endblock content %}
</body>
</html>
